.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px darkmagenta;
}

.note{
    font-size: 17px;
    color: whitesmoke;
}

.copy_write{
    position: fixed;
    color: whitesmoke;
    background-color: gray;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px dashed whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkmagenta;
}